# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: it is sample project
on:
 push:
   branches: "main"
 pull_request:
   branches: "main"
jobs:
  build-test-deply:
   runs-on: ubuntu-latest
   steps:
    - name: code checkout
      uses: actions/checkout@v4
 
